<button {{action 'selectAllFederal'}}>All Federal</button>
<button {{action 'selectAllState'}}>All State</button>
<button {{action 'selectRelatedFederal'}}>Related Federal</button>
<button {{action 'clearSelected'}}>Clear All</button>
<h3>Federal</h3>
{{jdx-list courts=federalJDXs}}

{{#if isAnyDistrictVisible}}
  <h3>District</h3>
  {{jdx-list courts=visibleDistricts}}
{{/if}}

<h3>State</h3>
{{jdx-list courts=stateJDXs}}

<button {{action 'toggleDistrictVisibility'}}>{{allVisibilityButtonName}}</button>
